{% extends 'base.html' %}
{% load static %}

{% block extend_head %}
{% endblock %}

{% block content %}

<div class="institutions">
  <div class="container">
    <h1 class="institution-list">List of Institutions</h1>
    {% for inst in all_institutions %}
    <div class="list-item" data-institution-id="{{ inst.id }}">
      <li>
        <p>{{ inst.institution_name }}</p>
      </li>
    </div>
    {% endfor %}
  </div>
  {% if institution %}
  <div class="single-institution">
    <button class="back-button">Back</button> <!-- Back button added -->
    <h1 class="institution-name">{{ institution.institution_name }}</h1>
    <img class="thumbnail img" src="{{ institution.image.url }}" alt="{{ institution.institution_name }}" />
    
      <div id="map-route">

      </div>
    
    <!-- Display insurance information -->
    {% if insurances %}
    <h2 class="insurance-heading">Insurances</h2>
    <ul class="insurance-list">
      {% for insurance in insurances %}
      <li>{{ insurance.insurance_name }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <!-- Display review summaries -->
    <div class="reviews-section">
      {% for review in reviews %}
      <p class="review-summary">{{ review.review_summary }}</p>
      <a href="#" class="read-more">Read more</a>
      {% endfor %}
    </div>

    <!-- Display services -->
    <h2 class="service-heading">Services</h2>
    <ul class="service-list">
      {% for service in services %}
      <li>{{ service.service_name }} - ${{ service.service_price }}</li>
      {% endfor %}
    </ul>

    <!-- Display all insurances -->
    <h2 class="insurance-heading">Insurances</h2>
    {% for insurance in insurances %}
    <p class="insurance-paragraph">{{ insurance.insurance_name }}</p>
    {% endfor %}

    <input type="hidden" id="institution_lat" value="{{ institution.latitude }}">
    <input type="hidden" id="institution_lng" value="{{ institution.longitude }}">

    
    <form id="review-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <!-- Row 1: Review -->
        <tr>
          <th class="review-label">{{ form.review.label_tag }}</th>
          <td class="review-field">{{ form.review }}</td>
        </tr>
        <!-- Row 2: Review Image -->
        <tr>
          <th class="review-image-label">{{ form.review_image.label_tag }}</th>
          <td class="review-image-field">{{ form.review_image }}</td>
        </tr>
      </table>
      <button class="submit-button" type="submit">Submit Review</button>
    </form>
  </div>
  {% else %}
  
  {% endif %}
</div>

{% endblock %}

{% block extend_footer %}
<script type="text/javascript">

  var google_api_key = "{{google_api_key|safe}}";
  var base_country = "{{base_country|safe}}";

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    $('.list-item').click(function() {
      var id = $(this).data('institution-id');
      $.ajax({
        url: '/get_institution_details/',
        type: 'GET',
        data: {
          'institution_id': id
        },
        success: function(data) {
          $('.institution-name').text(data.institution_name);
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        }
      });

      $.ajax({
        url: '/get_reviews/',
        type: 'GET',
        data: {
          'institution_id': id
        },
        success: function(data) {
          $('.reviews-section').empty();
          data.reviews.forEach(function(review) {
            $('.reviews-section').append('<p class="review-summary">' + review.review_summary + '</p><a href="#" class="read-more">Read more</a>');
          });
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        }
      });

      $('.container').fadeOut('slow', function() {
        $('.single-institution').fadeIn('slow');
      });
    });

    $('.back-button').click(function() {
      $('.single-institution').fadeOut('slow', function() {
        $('.container').fadeIn('slow');
      });
    });
  });
</script>
<script src="{% static 'hospital_maps.js' %}" async></script>


{% endblock %}
